SPRING_PROFILES_ACTIVE=local

SANDWISH_DB_URL='jdbc:mysql://127.0.0.1:3306/sandwish?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false'
SANDWISH_DB_USERNAME=sandwish
SANDWISH_DB_PASSWORD=
SANDWISH_DB_DRIVER=com.mysql.jdbc.Driver

SANDWISH_REDIS_URI=redis://127.0.0.1:6379/0
SANDWISH_REDIS_PASSWORD=
SANDWISH_REDIS_TIMEOUT=5s

SANDWISH_MQ_ENABLED=true
SANDWISH_MQ_TYPE=RABBITMQ
SANDWISH_RABBITMQ_HOST=127.0.0.1
SANDWISH_RABBITMQ_PORT=5672
SANDWISH_RABBITMQ_USERNAME=guest
SANDWISH_RABBITMQ_PASSWORD=guest
SANDWISH_RABBITMQ_VIRTUAL_HOST=/
SANDWISH_ROCKETMQ_NAME_SERVER=127.0.0.1:9876
SANDWISH_ROCKETMQ_PRODUCER_GROUP=sandwish-admin-api-producer
SANDWISH_LOG_SYS_QUEUE=sandwish.save-log
SANDWISH_LOG_SYS_TOPIC=sandwish_save_log
SANDWISH_LOG_SYS_TAG=*
SANDWISH_LOG_SYS_CONSUMER_GROUP=sandwish-admin-api-sys-log-consumer
SANDWISH_LOG_SYS_RABBIT_CONCURRENCY=2

SANDWISH_LOG_STORAGE_PATH=storage/sys-log

SANDWISH_OSS_TYPE=local
SANDWISH_OSS_LOCAL_ROOT_PATH=storage/object
SANDWISH_OSS_LOCAL_LOCATION_PREFIX=file:
SANDWISH_OSS_S3_ENDPOINT=http://127.0.0.1:9000
SANDWISH_OSS_S3_REGION=us-east-1
SANDWISH_OSS_S3_BUCKET=sandwish-storage
SANDWISH_OSS_S3_ACCESS_KEY=sandwishminio
SANDWISH_OSS_S3_SECRET_KEY=
SANDWISH_OSS_S3_LOCATION_PREFIX=http://127.0.0.1:9000/sandwish-storage/
SANDWISH_OSS_S3_PATH_STYLE_ACCESS=true

JAVA_OPTS=-Xms512m -Xmx512m
