SANDWISH_ADMIN_API_JAR=../../sandwish-admin-api/target/interaction-admin-api.jar
SANDWISH_FRONT_API_JAR=../../sandwish-front-api/target/hudong.jar
SANDWISH_PUBLIC_HTTP_PORT=18080
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001

MYSQL_DATABASE=sandwish
MYSQL_ROOT_PASSWORD=sandwish_root
MYSQL_USER=sandwish
MYSQL_PASSWORD=sandwish123456

SANDWISH_DB_URL=jdbc:mysql://mysql:3306/sandwish?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false
SANDWISH_DB_USERNAME=sandwish
SANDWISH_DB_PASSWORD=sandwish123456
SANDWISH_DB_DRIVER=com.mysql.cj.jdbc.Driver

SANDWISH_REDIS_URI=redis://redis:6379/0

SANDWISH_SPRING_PROFILES_ACTIVE=docker
SANDWISH_OSS_TYPE=s3
SANDWISH_OSS_LOCAL_ROOT_PATH=/app/storage
SANDWISH_OSS_LOCAL_LOCATION_PREFIX=file:
SANDWISH_OSS_S3_ENDPOINT=http://minio:9000
SANDWISH_OSS_S3_REGION=us-east-1
SANDWISH_OSS_S3_BUCKET=sandwish-storage
SANDWISH_OSS_S3_ACCESS_KEY=sandwishminio
SANDWISH_OSS_S3_SECRET_KEY=sandwishminio123
SANDWISH_OSS_S3_LOCATION_PREFIX=http://127.0.0.1:19000/sandwish-storage/
SANDWISH_OSS_S3_PATH_STYLE_ACCESS=true

JAVA_OPTS=-Xms512m -Xmx512m
