SANDWISH_ADMIN_API_IMAGE=sandwish/admin-api:dev
SANDWISH_FRONT_API_IMAGE=sandwish/front-api:dev
SANDWISH_OPEN_API_IMAGE=sandwish/open-api:dev
SANDWISH_NGINX_RUNTIME_IMAGE=sandwish/nginx:dev
SANDWISH_MYSQL_IMAGE=sandwish/mysql:8.4
SANDWISH_REDIS_IMAGE=sandwish/redis:7.4-alpine
SANDWISH_ROCKETMQ_IMAGE=sandwish/rocketmq:5.4.0
SANDWISH_MINIO_IMAGE=sandwish/minio:RELEASE.2025-02-28T09-55-16Z
SANDWISH_MINIO_MC_IMAGE=sandwish/minio-mc:RELEASE.2025-02-21T16-00-46Z
SANDWISH_PUBLIC_HTTP_PORT=18080
SANDWISH_MYSQL_DATA_PATH=./data/mysql
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001
SANDWISH_MINIO_DATA_PATH=./data/minio
ROCKETMQ_NAMESRV_PORT=19876
ROCKETMQ_BROKER_PORT=20911
ROCKETMQ_BROKER_FAST_PORT=20909
SANDWISH_ROCKETMQ_NAMESRV_LOG_PATH=./data/rocketmq/namesrv/logs
SANDWISH_ROCKETMQ_BROKER_STORE_PATH=./data/rocketmq/broker/store
SANDWISH_ROCKETMQ_BROKER_LOG_PATH=./data/rocketmq/broker/logs

MYSQL_DATABASE=sandwish
MYSQL_ROOT_PASSWORD=sandwish_root
MYSQL_USER=sandwish
MYSQL_PASSWORD=sandwish123456

SANDWISH_SPRING_PROFILES_ACTIVE=docker
JAVA_OPTS=-Xms512m -Xmx512m

SANDWISH_DB_URL=jdbc:mysql://mysql:3306/sandwish?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
SANDWISH_DB_USERNAME=sandwish
SANDWISH_DB_PASSWORD=sandwish123456
SANDWISH_DB_DRIVER=com.mysql.jdbc.Driver

SANDWISH_REDIS_URI=redis://redis:6379/0
SANDWISH_REDIS_PASSWORD=
SANDWISH_REDIS_TIMEOUT=5s

SANDWISH_MQ_ENABLED=true
SANDWISH_MQ_TYPE=ROCKETMQ
SANDWISH_ROCKETMQ_NAME_SERVER=rocketmq-namesrv:9876
SANDWISH_ROCKETMQ_PRODUCER_GROUP=sandwish-admin-api-producer
SANDWISH_LOG_SYS_TOPIC=sandwish_save_log
SANDWISH_LOG_SYS_TAG=*
SANDWISH_LOG_SYS_CONSUMER_GROUP=sandwish-admin-api-sys-log-consumer

SANDWISH_LOG_STORAGE_PATH=/app/storage/sys-log

SANDWISH_OSS_TYPE=s3
SANDWISH_OSS_LOCAL_ROOT_PATH=/app/storage
SANDWISH_OSS_LOCAL_LOCATION_PREFIX=file:
SANDWISH_OSS_S3_ENDPOINT=http://minio:9000
SANDWISH_OSS_S3_REGION=us-east-1
SANDWISH_OSS_S3_BUCKET=sandwish-storage
SANDWISH_OSS_S3_ACCESS_KEY=sandwishminio
SANDWISH_OSS_S3_SECRET_KEY=sandwishminio123
SANDWISH_OSS_S3_LOCATION_PREFIX=http://127.0.0.1:19000/sandwish-storage/
SANDWISH_OSS_S3_PATH_STYLE_ACCESS=true
