<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thundax.modules.storage.persistence.mapper.StorageMapper">

    <resultMap id="storageResult" type="com.github.thundax.modules.storage.persistence.dataobject.StorageDO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="extendName" column="extendName"/>
        <result property="mimeType" column="mimeType"/>
        <result property="businessId" column="businessId"/>
        <result property="businessType" column="businessType"/>
        <result property="businessParams" column="businessParams"/>
        <result property="ownerId" column="ownerId"/>
        <result property="ownerType" column="ownerType"/>
        <result property="enableFlag" column="enableFlag"/>
        <result property="publicFlag" column="publicFlag"/>
        <result property="priority" column="priority"/>
        <result property="remarks" column="remarks"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="delFlag" column="delFlag"/>
    </resultMap>

    <resultMap id="storageBusinessResult" type="com.github.thundax.modules.storage.persistence.dataobject.StorageBusinessDO">
        <id property="id" column="id"/>
        <result property="businessId" column="businessId"/>
        <result property="businessType" column="businessType"/>
        <result property="businessParams" column="businessParams"/>
        <result property="publicFlag" column="publicFlag"/>
    </resultMap>

    <sql id="storageColumns">
        a.id,
		a.name,
		a.extend_name AS "extendName",
		a.mime_type AS "mimeType",
		a.business_id AS "businessId",
		a.business_type AS "businessType",
		a.business_params AS "businessParams",
		a.owner_id AS "ownerId",
		a.owner_type AS "ownerType",
		a.enable_flag AS "enableFlag",
		a.public_flag AS "publicFlag",
		a.priority,
		a.remarks,
		a.create_date AS "createDate",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag"
    </sql>

    <select id="get" resultMap="storageResult">
        SELECT
        <include refid="storageColumns"/>
        FROM assist_storage a
        WHERE id = #{id}
    </select>

    <select id="getMany" resultMap="storageResult">
        SELECT
        <include refid="storageColumns"/>
        FROM assist_storage a
        WHERE a.id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

    <select id="findMimeTypeList" resultType="string">
        SELECT mime_type
        FROM assist_storage
        GROUP BY mime_type
        ORDER BY mime_type
    </select>

    <select id="findBusinessTypeList" resultType="string">
        SELECT business_type
        FROM assist_storage
        GROUP BY business_type
        ORDER BY business_type
    </select>

    <select id="findList" resultMap="storageResult">
        SELECT
        <include refid="storageColumns"/>
        FROM assist_storage a
        <where>
            del_flag = #{DEL_FLAG_NORMAL}
            <if test="queryMimeType != null and queryMimeType != ''">
                AND mime_type = #{queryMimeType}
            </if>
            <if test="queryBusinessId != null and queryBusinessId != ''">
                AND business_id = #{queryBusinessId}
            </if>
            <if test="queryBusinessType != null and queryBusinessType != ''">
                AND business_type = #{queryBusinessType}
            </if>
            <if test="queryOwnerId != null and queryOwnerId != ''">
                AND owner_id = #{queryOwnerId}
            </if>
            <if test="queryOwnerType != null and queryOwnerType != ''">
                AND owner_type = #{queryOwnerType}
            </if>
            <if test="queryEnableFlag != null and queryEnableFlag != ''">
                AND enable_flag = #{queryEnableFlag}
            </if>
            <if test="queryPublicFlag != null and queryPublicFlag != ''">
                AND public_flag = #{queryPublicFlag}
            </if>
            <if test="queryName != null and queryName != ''">
                AND name LIKE CONCAT('%', #{queryName}, '%')
            </if>
            <if test="queryRemarks != null and queryRemarks != ''">
                AND remarks LIKE CONCAT('%', #{queryRemarks}, '%')
            </if>
        </where>
        ORDER BY a.create_date DESC, a.priority
    </select>

    <insert id="insert">
        INSERT INTO assist_storage(id,
                                          name, extend_name, mime_type,
                                          business_id, business_type, business_params,
                                          owner_id, owner_type,
                                          enable_flag, public_flag,
                                          priority, remarks,
                                          create_date, update_date,
                                          del_flag)
        VALUES (#{id},
                #{name}, #{extendName}, #{mimeType},
                #{businessId}, #{businessType}, #{businessParams},
                #{ownerId}, #{ownerType},
                #{enableFlag}, #{publicFlag},
                #{priority}, #{remarks},
                #{createDate}, #{updateDate},
                #{delFlag})
    </insert>

    <update id="update">
        UPDATE assist_storage
        SET name            = #{name},
            extend_name     = #{extendName},
            mime_type       = #{mimeType},
            business_id     = #{businessId},
            business_type   = #{businessType},
            business_params = #{businessParams},
            owner_id        = #{ownerId},
            owner_type      = #{ownerType},
            enable_flag     = #{enableFlag},
            public_flag     = #{publicFlag},
            priority        = #{priority},
            remarks         = #{remarks},
            update_date     = #{updateDate},
            del_flag        = #{delFlag}
        WHERE id = #{id}
    </update>

    <update id="updateEnableFlag">
        UPDATE assist_storage
        SET enable_flag = #{enableFlag},
            update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <update id="updatePublicFlag">
        UPDATE assist_storage
        SET public_flag = #{publicFlag},
            update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM assist_storage
        WHERE id = #{id}
    </delete>

    <select id="findBusiness" resultMap="storageBusinessResult">
        SELECT a.id,
               a.business_id     AS "businessId",
               a.business_type   AS "businessType",
               a.business_params AS "businessParams",
               a.public_flag     AS "publicFlag"
        FROM assist_storage a
        WHERE a.id = #{id}
          AND a.business_id IS NOT NULL
    </select>

    <update id="insertBusiness">
        UPDATE assist_storage
        SET business_id = CASE id
            <foreach collection="list" item="item">
                WHEN #{item.id} THEN #{item.businessId}
            </foreach>
            END,
            business_type = CASE id
            <foreach collection="list" item="item">
                WHEN #{item.id} THEN #{item.businessType}
            </foreach>
            END,
            business_params = CASE id
            <foreach collection="list" item="item">
                WHEN #{item.id} THEN #{item.businessParams}
            </foreach>
            END,
            public_flag = CASE id
            <foreach collection="list" item="item">
                WHEN #{item.id} THEN #{item.publicFlag}
            </foreach>
            END,
            update_date = CURRENT_TIMESTAMP
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">#{item.id}</foreach>
    </update>

    <update id="deleteBusiness">
        UPDATE assist_storage
        SET business_id     = NULL,
            business_type   = NULL,
            business_params = NULL,
            update_date     = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <update id="deleteBusinessByBusiness">
        UPDATE assist_storage
        SET business_id     = NULL,
            business_type   = NULL,
            business_params = NULL,
            update_date     = CURRENT_TIMESTAMP
        WHERE business_id = #{businessId}
          AND business_type = #{businessType}
    </update>

</mapper>
