<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thundax.modules.sys.persistence.mapper.DictMapper">

    <sql id="dictColumns">
        a.id,
		a.type,
		a.label,
		a.value,
		a.priority,
		a.remarks,
		a.create_date AS "createDate",
		a.create_by AS "createUserId",
		a.update_date AS "updateDate",
		a.update_by AS "updateUserId",
		a.del_flag AS "delFlag"
    </sql>

    <select id="get" resultType="com.github.thundax.modules.sys.persistence.dataobject.DictDO">
        SELECT
        <include refid="dictColumns"/>
        FROM sys_dict a
        WHERE id = #{id}
    </select>

    <select id="getMany" resultType="com.github.thundax.modules.sys.persistence.dataobject.DictDO">
        SELECT
        <include refid="dictColumns"/>
        FROM sys_dict a
        WHERE id IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findList" resultType="com.github.thundax.modules.sys.persistence.dataobject.DictDO">
        SELECT
        <include refid="dictColumns"/>
        FROM sys_dict a
        <where>
            del_flag = #{DEL_FLAG_NORMAL}
            <if test="query != null">
                <if test="query.type != null and query.type != ''">
                    AND type = #{query.type}
                </if>
                <if test="query.remarks != null and query.remarks != ''">
                    AND remarks LIKE CONCAT('%', #{query.remarks}, '%')
                </if>
            </if>
        </where>
        ORDER BY a.type, a.priority, a.create_date
    </select>

    <select id="findTypeList" resultType="string">
        SELECT type
        FROM sys_dict
        GROUP BY type
        ORDER BY type
    </select>

    <insert id="insert">
        INSERT INTO sys_dict(id,
                                    value, label, type,
                                    priority, remarks,
                                    create_date, create_by,
                                    update_date, update_by,
                                    del_flag)
        VALUES (#{id},
                #{value}, #{label}, #{type},
                #{priority}, #{remarks},
                #{createDate}, #{createUserId},
                #{updateDate}, #{updateUserId},
                #{delFlag})
    </insert>

    <update id="update">
        UPDATE sys_dict
        SET value       = #{value},
            label       = #{label},
            type        = #{type},
            priority    = #{priority},
            remarks     = #{remarks},
            update_date = #{updateDate},
            update_by   = #{updateUserId},
            del_flag    = #{delFlag}
        WHERE id = #{id}
    </update>

    <update id="updateDelFlag">
        UPDATE sys_dict
        SET del_flag    = #{delFlag},
            update_date = #{updateDate},
            update_by   = #{updateUserId}
        WHERE id = #{id}
    </update>

    <update id="updatePriority">
        UPDATE sys_dict
        SET priority    = #{priority},
            update_date = #{updateDate},
            update_by   = #{updateUserId}
        WHERE id = #{id}
    </update>

    <update id="delete">
        DELETE
        FROM sys_dict
        WHERE id = #{id}
    </update>

</mapper>
