<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thundax.modules.sys.persistence.mapper.LogMapper">

    <sql id="logColumns">
        a.id,
		a.user_id AS "userId",
		a.type,
		a.log_date AS "logDate",
		a.title,
		a.remote_addr AS "remoteAddr",
		a.user_agent AS "userAgent",
		a.method,
		a.request_uri AS "requestUri",
		a.request_params AS "requestParams"
    </sql>

    <select id="get" resultType="com.github.thundax.modules.sys.persistence.dataobject.LogDO">
        SELECT
        <include refid="logColumns"/>
        FROM sys_log a
        WHERE id = #{id}
    </select>

    <select id="getMany" resultType="com.github.thundax.modules.sys.persistence.dataobject.LogDO">
        SELECT
        <include refid="logColumns"/>
        FROM sys_log a
        WHERE a.id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

    <select id="findList" resultType="com.github.thundax.modules.sys.persistence.dataobject.LogDO">
        SELECT
        <include refid="logColumns"/>
        FROM sys_log a
        LEFT JOIN sys_user u ON u.id = a.user_id
        <where>
            <if test="queryType != null and queryType != ''">
                AND a.type = #{queryType}
            </if>
            <if test="queryRemoteAddr != null and queryRemoteAddr != ''">
                AND a.remote_addr = #{queryRemoteAddr}
            </if>
            <if test="queryUserLoginName != null and queryUserLoginName != ''">
                AND u.login_name LIKE CONCAT('%', #{queryUserLoginName}, '%')
            </if>
            <if test="queryUserName != null and queryUserName != ''">
                AND u.name LIKE CONCAT('%', #{queryUserName}, '%')
            </if>
            <if test="queryTitle != null and queryTitle != ''">
                AND a.title LIKE CONCAT('%', #{queryTitle}, '%')
            </if>
            <if test="queryRequestUri != null and queryRequestUri != ''">
                AND a.request_uri LIKE CONCAT('%', #{queryRequestUri}, '%')
            </if>
            <if test="queryBeginDate != null and queryEndDate != null">
                AND a.log_date BETWEEN #{queryBeginDate} AND #{queryEndDate}
            </if>
        </where>
        ORDER BY a.log_date DESC
    </select>

    <delete id="batchDelete">
        DELETE FROM sys_log a
        <where>
            <if test="queryType != null and queryType != ''">
                AND a.type = #{queryType}
            </if>
            <if test="queryRemoteAddr != null and queryRemoteAddr != ''">
                AND a.remote_addr = #{queryRemoteAddr}
            </if>
            <if test="queryTitle != null and queryTitle != ''">
                AND a.title LIKE CONCAT('%', #{queryTitle}, '%')
            </if>
            <if test="queryRequestUri != null and queryRequestUri != ''">
                AND a.request_uri LIKE CONCAT('%', #{queryRequestUri}, '%')
            </if>
            <if test="queryBeginDate != null and queryEndDate != null">
                AND a.log_date BETWEEN #{queryBeginDate} AND #{queryEndDate}
            </if>
        </where>
    </delete>

    <insert id="insert">
        INSERT INTO sys_log(id, user_id,
                                   type, log_date,
                                   title,
                                   remote_addr, user_agent,
                                   method,
                                   request_uri, request_params)
        VALUES (#{id}, #{userId},
                #{type}, #{logDate},
                #{title},
                #{remoteAddr}, #{userAgent},
                #{method},
                #{requestUri}, #{requestParams})
    </insert>


    <insert id="insertList">
        INSERT INTO sys_log(id, user_id,
        type, log_date, title,
        remote_addr, user_agent, method,
        request_uri, request_params)
        <foreach collection="list" item="item" separator=" union all " index="idx">
            SELECT #{item.id}, #{item.userId},
            #{item.type}, #{item.logDate}, #{item.title},
            #{item.remoteAddr}, #{item.userAgent}, #{item.method},
            #{item.requestUri}, #{item.requestParams}
            FROM dual
        </foreach>
    </insert>


    <delete id="delete">
        DELETE
        FROM sys_log
        WHERE id = #{id}
    </delete>

</mapper>
