<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thundax.modules.sys.persistence.mapper.OfficeMapper">

    <resultMap id="officeResult" type="com.github.thundax.modules.sys.persistence.dataobject.OfficeDO">
        <id property="id" column="id"/>
        <result property="parentId" column="parentId"/>
        <result property="lft" column="lft"/>
        <result property="rgt" column="rgt"/>
        <result property="name" column="name"/>
        <result property="shortName" column="shortName"/>
        <result property="priority" column="priority"/>
        <result property="remarks" column="remarks"/>
        <result property="createDate" column="createDate"/>
        <result property="createUserId" column="createUserId"/>
        <result property="updateDate" column="updateDate"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="delFlag" column="delFlag"/>
    </resultMap>

    <sql id="officeColumns">
        a.id,
		a.parent_id AS "parentId",
		a.lft,
		a.rgt,
		a.name,
		a.short_name AS "shortName",
		a.priority,
		a.remarks,
		a.create_date AS "createDate",
		a.create_by AS "createUserId",
		a.update_date AS "updateDate",
		a.update_by AS "updateUserId",
		a.del_flag AS "delFlag"
    </sql>

    <select id="get" resultMap="officeResult">
        SELECT
        <include refid="officeColumns"/>
        FROM sys_office a
        WHERE id = #{id}
    </select>

    <select id="getMany" resultMap="officeResult">
        SELECT
        <include refid="officeColumns"/>
        FROM sys_office a
        WHERE a.id IN
        <foreach collection="idList" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

    <select id="findList" resultMap="officeResult">
        SELECT
        <include refid="officeColumns"/>
        FROM sys_office a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="queryParentId != null and queryParentId !=''">
                <choose>
                    <when test="queryParentId != 'ROOT'">
                        AND a.parent_id = #{queryParentId}
                    </when>
                    <otherwise>
                        AND a.parent_id IS NULL
                    </otherwise>
                </choose>
            </if>
            <if test="queryName != null and queryName != ''">
                AND ( a.name LIKE CONCAT('%', #{queryName}, '%') OR a.short_name LIKE CONCAT('%', #{queryName}, '%') )
            </if>
            <if test="queryRemarks != null and queryRemarks != ''">
                AND a.remarks LIKE CONCAT('%', #{queryRemarks}, '%')
            </if>
        </where>
        ORDER BY a.lft
    </select>

    <insert id="insert">
        INSERT INTO sys_office(id, parent_id,
                                      name, short_name,
                                      lft, rgt,
                                      priority, remarks,
                                      create_date, create_by,
                                      update_date, update_by,
                                      del_flag)
        VALUES (#{id}, #{parentId},
                #{name}, #{shortName},
                #{lft}, #{rgt},
                #{priority}, #{remarks},
                #{createDate}, #{createUserId},
                #{updateDate}, #{updateUserId},
                #{delFlag})
    </insert>

    <update id="update">
        UPDATE sys_office
        SET parent_id   = #{parentId},
            name        = #{name},
            short_name  = #{shortName},
            priority    = #{priority},
            remarks     = #{remarks},
            update_date = #{updateDate},
            update_by   = #{updateUserId}
        WHERE id = #{id}
    </update>

    <update id="updatePriority">
        UPDATE sys_office
        SET priority = #{priority}
        WHERE id = #{id}
    </update>

    <update id="delete">
        DELETE
        FROM sys_office
        WHERE id = #{id}
    </update>


    <!-- 维护树形结构 开始 -->
    <!-- 获取树节点 -->
    <select id="getTreeNode" resultMap="officeResult">
        SELECT id,
               parent_id AS "parentId",
               lft,
               rgt
        FROM sys_office
        WHERE id = #{id}
    </select>

    <!-- 获取最大右编号 -->
    <select id="getMaxPosition" resultType="Integer">
        SELECT max(rgt)
        FROM sys_office
    </select>

    <update id="updateLftRgt">
        UPDATE sys_office
        SET lft = #{node.lft},
            rgt = #{node.rgt}
        WHERE id = #{node.id}
    </update>

    <update id="updateParent">
        UPDATE sys_office
        SET parent_id = #{node.parentId}
        WHERE id = #{node.id}
    </update>

    <!-- 批量更新右编号 -->
    <update id="moveTreeRgts">
        UPDATE sys_office
        SET rgt = rgt + #{offset}
        WHERE rgt &gt;= #{from}
    </update>

    <!-- 批量更新左编号 -->
    <update id="moveTreeLfts">
        UPDATE sys_office
        SET lft = lft + #{offset}
        WHERE lft >= #{from}
    </update>

    <update id="moveTreeNodes">
        UPDATE sys_office
        SET lft = lft + #{offset},
            rgt = rgt + #{offset}
        WHERE lft BETWEEN #{from} AND #{to}
    </update>
    <!-- 维护树形结构 结束 -->

</mapper>
