<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.thundax.modules.sys.persistence.mapper.RoleMapper">

    <resultMap id="roleResult" type="com.github.thundax.modules.sys.persistence.dataobject.RoleDO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="adminFlag" column="adminFlag"/>
        <result property="enableFlag" column="enableFlag"/>
        <result property="priority" column="priority"/>
        <result property="remarks" column="remarks"/>
        <result property="createDate" column="createDate"/>
        <result property="createUserId" column="createUserId"/>
        <result property="updateDate" column="updateDate"/>
        <result property="updateUserId" column="updateUserId"/>
        <result property="delFlag" column="delFlag"/>
    </resultMap>

    <sql id="roleColumns">
        a.id,
    	a.name,
    	a.admin_flag AS "adminFlag",
    	a.enable_flag AS "enableFlag",
		a.priority,
		a.remarks,
		a.create_date AS "createDate",
		a.create_by AS "createUserId",
		a.update_date AS "updateDate",
		a.update_by AS "updateUserId",
		a.del_flag AS "delFlag"
    </sql>

    <select id="get" resultMap="roleResult">
        SELECT
        <include refid="roleColumns"/>
        FROM sys_role a
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="roleResult">
        SELECT
        <include refid="roleColumns"/>
        FROM sys_role a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="queryEnableFlag != null and queryEnableFlag != ''">
                AND a.enable_flag = #{queryEnableFlag}
            </if>
        </where>
        ORDER BY a.priority, a.create_date
    </select>

    <insert id="insert">
        INSERT INTO sys_role(id, name,
                                    admin_flag, enable_flag,
                                    priority, remarks,
                                    create_date, create_by,
                                    update_date, update_by,
                                    del_flag)
        VALUES (#{id}, #{name},
                #{adminFlag}, #{enableFlag},
                #{priority}, #{remarks},
                #{createDate}, #{createUserId},
                #{updateDate}, #{updateUserId},
                #{delFlag})
    </insert>

    <update id="update">
        UPDATE sys_role
        SET name        = #{name},
            admin_flag  = #{adminFlag},
            enable_flag = #{enableFlag},
            priority    = #{priority},
            remarks     = #{remarks},
            update_date = #{updateDate},
            update_by   = #{updateUserId}
        WHERE id = #{id}
    </update>

    <update id="updateEnableFlag">
        UPDATE sys_role
        SET enable_flag = #{enableFlag},
            update_date = #{updateDate},
            update_by   = #{updateUserId}
        WHERE id = #{id}
    </update>

    <update id="updatePriority">
        UPDATE sys_role
        SET priority = #{priority}
        WHERE id = #{id}
    </update>

    <!-- 维护role-menu关系 -->
    <select id="findRoleMenu" resultType="String">
        SELECT menu_id
        FROM sys_role_menu
        WHERE role_id = #{id}
    </select>

    <delete id="deleteRoleMenu">
        DELETE
        FROM sys_role_menu
        WHERE role_id = #{id}
    </delete>

    <insert id="insertRoleMenu">
        INSERT INTO sys_role_menu(role_id, menu_id)
        <foreach collection="menuIdList" item="menuId" separator=" union all ">
            SELECT #{id}, #{menuId} FROM dual
        </foreach>
    </insert>

    <!-- 维护role-user关系 -->
    <select id="findRoleUser" resultType="String">
        SELECT user_id
        FROM sys_user_role
        WHERE role_id = #{id}
    </select>

    <delete id="deleteRoleUser">
        DELETE
        FROM sys_user_role
        WHERE role_id = #{id}
    </delete>

    <insert id="insertRoleUser">
        INSERT INTO sys_user_role(role_id, user_id)
        <foreach collection="userIdList" item="userId" separator=" union all ">
            SELECT #{role.id}, #{userId} FROM dual
        </foreach>
    </insert>

    <update id="delete">
        DELETE
        FROM sys_role
        WHERE id = #{id}
    </update>

</mapper>
